*fp-info-cache
*MCU datalogger_Library/
*MCU datalogger-backups/
*h -u origin master
*fp-lib-table
*#auto_saved_files#
*~MCU datalogger.kicad_sch.lck
sym-lib-table
_autosave-MCU datalogger.kicad_sch
2layer_Gerbers/*
4layer_Gerbers/*
